$base-padding: 24px;

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 56px;
  padding: $base-padding 0;
}

.main {
  flex: auto;
  display: flex;
  align-items: center;
}

.footer {
  height: 24px;
  padding: $base-padding 0;
}
