$base-margin: 24px;

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 56px;
  margin: $base-margin;
}

.main {
  flex: auto;
  display: flex;
  align-items: center;
}

.footer {
  height: 24px;
  margin: $base-margin;
}
